/build/
/cmake/
/CMakeFiles/
/Drivers/
/Middlewares/
/.settings/
/.vscode/
.clangd
CMakeLists.txt.user
CMakeLists.txt
CMakeCache.txt
CMakePresets.json
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build.ninja
stm32c071xx_flash.ld
startup_stm32c071xx.s