/build/
/cmake/
/CMakeFiles/
/Drivers/
/Middlewares/
CMakeLists.txt.user
CMakeLists.txt
CMakeCache.txt
CMakePresets.json
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build.ninja
stm32g0b1kbtx_flash.ld
STM32G0B1XX_FLASH.ld
startup_stm32g0b1xx.s